*, body{
	margin: 0px;
	padding: 0px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}
    
p {
  font-family: 'Poppins', sans-serif;
/*  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;*/
}

/* ---------------------------------------------------
   MENU
----------------------------------------------------- */  

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}


    
.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
    
#sidebar {
  /*width: 250px;*/
  /*position: fixed;*/
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #000;  /*-------------------------------*/
  color: #fff !important;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
   background: #000;  /*-------------------------------*/
}

#sidebar ul.components {
	background: #000;  /*-------------------------------*/
  padding: 20px 0;
  border-bottom: 1px solid #000;   /*-------------------------------*/
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color:white;
}

#sidebar ul li a:hover {
  color: #000;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #000;
  background: #fff;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}


#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}
.sidebar-header span{
	display: none;
}
.ocultarMenu span{
	display: none;
}

/* ---------------------------------------------------
    MENU
----------------------------------------------------- */

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* ---------------------------------------------------
    CABEZERA
----------------------------------------------------- */
#sombraCabezara{
	box-shadow: 0px 7px 7px #000;
}
#cabezera{
	height: 100px;

}
.cabeza{
	height: 100px;
	
}

#iconConfig span{
	font-size: 40px;
    background: #000;
    padding: 10px;
    border-radius: 32px;
    margin-top: 16px;
    color: #49e00b;
}

#reloj{
	text-align: center;
}
#reloj p{
	margin-top: 20px;
	font-weight: bold;
}
#perfil{
	margin-top: 14px;
}

#perfil img{
	width: 60px;
	height: 60px;
    border-radius: 30px;
    float: right;
    margin-right: 9px;
}
#perfil span{
	font-size: 30px;
    display: block;
    float: right;
    margin-top: 18px;
}

#expandirPerfil{
	position: absolute;
    background: white;
    height: 115px;
    width: 260px;
    /*margin: 41px 0px 2px 65px;*/
    margin: -8px -31px 0px -243px;
    box-shadow: 9px 9px 9px #333;
    display: none;
}
#expandirPerfil a{
	font-size: 20px;
    line-height: 24px;
    padding: 7px;
    display: block;
}

#expandirPerfil div{
	cursor: pointer;
}
#expandirPerfil div:hover{
	background: #49e00b;
	color: #fff;
}

#expandirPerfil div i{
	padding-right: 6px;
}

/* ---------------------------------------------------
    CABEZERA
----------------------------------------------------- */

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* ---------------------------------------------------
    LOGIN
----------------------------------------------------- */
#pageLogin{
	background-image: linear-gradient(green, black);
	height: 100vh;
	display: flex;
   justify-content: center;
   align-items: center;

}
#login{
	width: 500px;
    height: 500px;
    background: rgb(000, 000, 000, 0.5);
    margin: 0 auto;
    border-radius: 15px;

}
#iconLogin{
    font-size: 60px;
    text-align: center;
}
#iconLogin i{
	background: #fff;
    padding: 20px;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    margin-top: -51px;
    width: 94px;
}
   
#textSeccion{
	text-align: center;
    color: #fff;
    margin-top: 10px;

}
#formLogin{
	text-align: center;
	color: #fff;
}
#formLogin i {
	position: absolute;
    color: black;
    font-size: 30px;
    padding: 19px 10px;
    color: #49e00b;
}
#formLogin input{
	height: 50px;
	padding-left: 53px;
	border-radius: 9px;
    margin: 11px 0px;
}
#formLogin input:focus{
	border: 4px solid #49e00b;

}
#formLogin button{
	width: 250px;
    height: 48px;
    margin-top: 10px;
    font-size: 25px;
}

#loginDatosMalos{
	margin-top: 25px;
	
}
    
@media (max-width: 768px) {
	/* ---------------------------------------------------
    MENU
	----------------------------------------------------- */
  	#sidebar{
    	height: auto;
	}
	#sidebar ul.components {
	    background: #000;
	    display: none;
		padding: 0px 0px 0px 0px;
	}
	.sidebar-header h3, #sidebar ul p{
		display: none;
	}
	#sidebar ul li a {
	  font-size: 30px;
	  padding: 0px 15px;
	}
		
	.sidebar-header span{
		display: block;
		font-size: 35px;
	}
	.ocultarMenu{
	    text-align: center;
	    width: 100%;
	    cursor: pointer;
	}
	.ocultarMenu span{
		display: block;
		font-size: 45px;
		margin-top: -10px;
	}
	/* ---------------------------------------------------
    MENU
	----------------------------------------------------- */
	/* ---------------------------------------------------
	    BABEZERA
	----------------------------------------------------- */
	#reloj p{
	    font-size: 12px;
	    margin-top: 23px;
	}
	/* ---------------------------------------------------
    CABEZERA
	----------------------------------------------------- */
}

@media (min-width: 769px) and (max-width: 991px ) {
	/* ---------------------------------------------------
	    MENU
	----------------------------------------------------- */
	#sidebar{
	    height: auto;
	}
	 #sidebar ul.components {
	    background: #000;
	    display: none;
	}
	#sidebar ul li a, #sidebar ul p {
	    font-size: 50px;
	}
	
	.sidebar-header h3{
		display: none;
	}
	
	.sidebar-header span{
		display: block;
		font-size: 80px;
	}

	.ocultarMenu{
	    text-align: center;
	    width: 100%;
	    cursor: pointer;
	}
	.ocultarMenu span{
		display: block;
		font-size: 60px;
		
	}


	/* ---------------------------------------------------
	    MENU
	----------------------------------------------------- */

	/* ---------------------------------------------------
    CABEZERA
	----------------------------------------------------- */
	#cabezera{
		height: 150px;
	}
	
	.cabeza{
		height: 150px;
		
	}

	#iconConfig span{
		font-size: 65px;
	    background: #000;
	    padding: 20px;
	    border-radius: 50px;
	    margin-top: 18px;
	}

	#reloj p{
		line-height: 29px;
	    font-weight: bold;
	    font-size: 23px;
	    margin-top: 33px;
	}
	#perfil{
		margin-top: 14px;
	}

	#perfil img{
		width: 110px;
		height: 110px;
	    border-radius: 59px;
	    margin-right: 20px;
	}
	#perfil span{
		font-size: 70px;
    	margin-top: 22px;
	}

	#expandirPerfil{
		height: 265px;
	    width: 500px;
	    /*margin: 73px 0px 0px -203px;*/
	    margin: -20px 0px 0px -460px;
	}
	#expandirPerfil a{
		font-size: 40px;
	    font-weight: bold;
	    display: block;
	    line-height: 44px;
	    height: 88px;
	    padding-left: 18px;
	}
}