#titulo{
	border-left: 5px solid #49e00b;
	border-right: 5px solid #49e00b;
    border-bottom: 5px solid #49e00b;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
}
#titulo h3{
    font-weight: bold;
}
#contenedorIMG{
	margin-top: 10px;
	text-align: center;
}

#contenedorIMG img, #actualizarFoto{
	width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 0 auto;
    display: block;
}

#contenedorIMG i{
	padding: 10px;
    background: #49e00b;
    border-radius: 25px;
    font-size: 25px;
	margin: -49px 46px;
    position: absolute;
}
#datosPerfiles{
	text-align: center;
	font-weight: bold;
}

table.dataTable tbody td.action{
	text-align: center !important;

}

   
@media (max-width: 768px) {
	   table.dataTable tbody td.action{
        font-size: 25px !important;
        width: 125px !important;
    }
    table.dataTable thead .action{
        font-size: 25px !important;
        width: 125px !important;
    }

}

@media (min-width: 769px) and (max-width: 991px ) {
	#contenedorIMG img {
    	width: 280px;
    	border-radius: 151px;
    }
    #contenedorIMG i {
	    padding: 25px;
	    border-radius: 51px;
	    font-size: 40px;
	    margin: -88px 65px;
   
    }
    #btnNuevoPerfil, #btnActualizarPerfilActual, #btnImprimirTablaPerfiles{
    	font-size: 30px;
    	border-radius: 25px;
    	width: 160px;
    }
    #tablaMostrarPerfiles_wrapper{
    	font-size: 25px !important;
    	margin-top: 20px;
    }
  
  	table.dataTable tbody td.action{
	    font-size: 25px !important;
	    width: 125px !important;
  	}
    .btnEliminarPerfil, .btnActualizarPerfil{
    	font-size: 25px;
    }
}

