.infoProductos{
	float: left;
	
}
#btnActionProductos{
	
    text-align: center;
}
.productoBtn{
	padding: 10px !important;
    width: 49%;
    font-size: 40px !important;
}
#productosEnRojo{
    height: 193px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid;

}
#listaProductosRojo{
	margin: 0 auto;
	width: 60%;
}
#productosEnRojo h3{
	text-align: center;
}
#listaProductosRojo ol li span{
	float: right;
}
#listaProductosRojo ol li:hover{
	color: black;
	background: rgba(40, 167, 69, 1);
}


.chartjs-render-monitor {
  margin: auto;
  height: 250px !important;

}

#selecionDeProductoGrafica{
	margin: 0 auto;
    width: 44%;
}


